* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #484848;
  background: #e1f0f8;
}

header {
  width: 1145px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header-top {
  display: flex;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 15px 25px 20px;
}

.calculate-cost-btn {
font-size: 23px;
  color: #f36240;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-variant: small-caps;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
  margin-left: 150px;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.working-hours {
  font-size: 16px;
  color: #484745;
  text-align: right;
  margin-right: 4px;
  margin-bottom: 2px;
}

.phone-number {
  font-size: 31px;
  color: #484745;
}

.navbar-nav {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 57px;
  list-style-type: none;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #5f6973;
}

.nav-item:hover {
  background-color: #7bc3d5;
}

.nav-item:hover .nav-link {
  color: #ffffff;
}

.nav-link {
  font-size: 24px;
  color: #5f6973;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main {
  width: 1145px;
  margin: 0 auto;
}

.title {
  color: #4b4b4b;
  line-height: 1.2;
  padding-top: 35px;
  padding-bottom: 30px;
}

.title-heading {
  font-size: 64px;
  font-weight: normal;
}

.title-description {
  font-size: 26px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendations-box {
  background-color: #ffffff;
  padding: 22px 22px 32px;
  border-radius: 5px;
  height: 469px;
  width: 240px;
  margin-right: 25px;
}

.recommendations-title {
  font-size: 20px;
  font-weight: normal;
  color: #4b4b4b;
}

.recommendations-list {
  list-style-type: none;
  margin-top: 22px;
}

.recommendations-item {
  margin-bottom: 12px;
  position: relative;
}

.recommendations-link {
  color: #8a8a8a;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3.5px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.recommendations-link:hover {
  color: #eb5825;
}

.content-container{
  flex: 1;
}

.product-box {
  box-sizing: border-box;
  width: 100%;

  background: #ffffff;
  border-radius: 5px;
  padding: 25px;
  min-height: 610px;
}

.product-box-title {
  font-size: 26px;
  font-weight: normal;
}

.product-box-content {
  margin: 32px auto 0;
  display: flex;
}

.product-box-image-container {
  min-width: 354px;
  padding-left: 57px;
  position: relative;
}

.product-image {
  position: relative;
  width: 198px;
}

.image-caption {
  font-size: 18px;
  color: #a6a6a6;
  margin-left: 33px;
  margin-top: 40px;
}

.feature-list {
  list-style-type: none;
  padding-left: 0;
}

.feature-list li {
  position: relative;
  padding-left: 20px;
}

.feature-list li::before {
  content: '\2022';
  position: absolute;
  left: 7px;
  top: 8px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #eb5825;
}

.feature-item {
  font-size: 14px;
  list-style-type: none;
}

.feature-item:not(:last-child) {
  margin-bottom: 11px;
}

.color-selection-title {
  font-size: 20px;
  margin-top: 39px;
  font-weight: normal;
}

.color-options {
  margin-top: 22px;
  display: flex;
  gap: 9px;
  margin-bottom: 10px;
}

.color-option {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.checkmark {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 18px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center center;
}

.color-option.selected .checkmark {
  display: block;
}

.color-info {
  margin-top: 26px;
  font-size: 14px;
}

.cta-button {
  margin-top: 45px;
  margin-bottom: 9px;
  max-width: 311px;
  min-height: 43px;
  width: 311px;
  border-radius: 5px;
  background: #eb5825;
  color: #ffffff;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: block;
  position: relative;
  font-weight: normal;
}

.cta-button:hover {
  background-color: #d63a2b;
}

.cta-subtext {
  margin-top: 11px;
  color: #8a8a8a;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 14px;
}

.information-container {
  margin-top: 25px;
  box-sizing: border-box;
  width: 100%;

  background: #ffffff;
  border-radius: 5px;
  padding: 30px 25px;
  min-height: 480px;
}

.information-title {
  font-size: 26px;
  font-weight: normal;
  color: #484848;
}

.lamination-benefits, .color-process {
  padding-top: 20px;
  padding-bottom: 10px;
}

.benefit {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.process-step {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 0px;
  margin-bottom: 10px;
}

.benefit-icon {
  margin-right: 20px;
}

.benefit-text, .step-text {
  font-size: 14px;
}

.benefit-text{
  padding-left: 15px;
}

.step-number {
  font-size: 20px;
  color: #484848;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
  vertical-align: middle;
}

.review-container {
  margin-top: 35px;
  margin-bottom: 95px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}

.review-title {
  font-size: 26px;
  font-weight: normal;
  color: #484848;
}

.review-more-link {
  font-size: 16px;
  color: #eb5825;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.review-card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
}

.reviewer-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewer-name {
  font-size: 16px;
  color: #484848;
}

.reviewer-contract {
  font-size: 14px;
  color: #8a8a8a;
  margin-top: 4px;
}

.review-date {
  font-size: 14px;
  color: #8a8a8a;
  margin-bottom: 10px;
}

.review-rating {
  margin-bottom: 10px;
}

.star {
  color: #e74c3c;
  font-size: 1.5em;
}

.review-text {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.read-more-link {
  color: #eb5825;
  font-size: 16px;
  text-decoration: underline dashed 1px;
  text-underline-offset: 3.5px;
}

.read-more-link:hover {
  text-decoration: underline;
}

.leave-review-button {
  margin-top: 35px;
  margin-bottom: 9px;
  max-width: 163px;
  min-height: 43px;
  width: 163px;
  border-radius: 5px;
  background: #eb5825;
  color: #ffffff;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: block;
  position: relative;
  font-weight: normal;
}

.leave-review-button:hover {
  background-color: #d63a2b;
}
